# PostgreSQL Config
POSTGRES_ADMIN_PASSWORD=change_me_super_secret
CHAT_DB_PASSWORD=change_me_chat_secret
RAG_DB_PASSWORD=change_me_rag_secret
ZENDESK_DB_PASSWORD=change_me_zendesk_secret

# Redis Config
REDIS_PASSWORD=change_me_redis_secret

# Grafana Config
GF_SECURITY_ADMIN_PASSWORD=change_me_admin_secret
GF_SERVER_ROOT_URL=http://localhost:3000
